[Unit]
Description=Kubernetes DNS Server
Documentation=http://kubernetes.io/docs/admin/dns/
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=notify
EnvironmentFile=-/etc/default/kubedns
ExecStart=/usr/local/bin/kube-dns $DAEMON_ARGS
TimeoutStartSec=0
Restart=on-failure
LimitNOFILE=655536

[Install]
WantedBy=multi-user.target
