[Unit]
Description=Kubernetes API Server
Documentation=http://kubernetes.io/docs/admin/kube-apiserver/
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=notify
EnvironmentFile=-/etc/default/kube-apiserver
ExecStart=/usr/local/bin/kube-apiserver $DAEMON_ARGS
TimeoutStartSec=0
Restart=on-failure
LimitNOFILE=655536

[Install]
WantedBy=multi-user.target
