[Unit]
Description=Kubernetes DNS Server
Documentation=http://kubernetes.io/docs/admin/dns/
Wants=network-online.target
After=network.target network-online.target

[Service]
ExecStart=/usr/local/bin/kube-dns --kube-master-url {{ kube_master_url }} --domain {{ domain }} --dns-port {{ port }}
TimeoutStartSec=0
Restart=on-failure
LimitNOFILE=655536

[Install]
WantedBy=multi-user.target

